body{
    text-align: center;
    padding-top: 800px;
  
}
.profile{
 border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
   width: 200px; 
    height:200px;
}
#welcome{
    background: linear-gradient(#f013cb 0%,#4911f0 100%); 
    height:800px;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}
#bio{
    text-align: center;
    padding: 50px;
    font-size: 20px;
    }
.line{
    height: 6px;
    width: 70px;
    margin: 8px auto;
    background-color: black;
    
}
p{
    max-width: 400px;
    margin: 25px auto;
}
